body{
  margin: 0;
  background-image: url(./galaxy-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
} 

#clock-container{
  display: flex;
  flex-direction:column ;
  justify-content: center;
  align-items: center;
  height: 100vh;

}
#clock-box{
  color:white;
  backdrop-filter: blur(10px);
  background-color: hsla(32, 100%, 88%, 0.042);
  text-align: center;
  padding: 20px 40px;
  border-radius: 10px;
  transition: all 0.3s ease;
  box-shadow: 0 0 20px rgba(196, 146, 245, 0.725);
  opacity: 0;
  animation: fadeIn 1.2s ease forwards;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
#clock-box:hover{
  background-color: hsla(272, 90%, 88%, 0.368);
  box-shadow: 0 0 20px rgba(179, 144, 255, 0.871);
  transform: scale(1.05);
}

#clock{
  font-family: 'Times New Roman', Times, serif;
  font-size: 3.5rem;
  font-weight: 700;
}

#date{
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}
#clock-box:hover #clock,
#clock-box:hover #date {
  color: rgb(42, 1, 72); 
}
@media (min-width:650px){
  #clock{
    font-size: 7rem;
  }
  #date{
    font-size: 3rem;
  }
}
